In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df_train=pd.read_csv('horror-train.csv')
df_test=pd.read_csv('horror-test.csv')
df_train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [14]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

pipelines=[]
for model in [LogisticRegression(),MultinomialNB(),LinearSVC()]:
    pipeline=make_pipeline(CountVectorizer(),TfidfTransformer(),model)
    pipelines.append(pipeline)

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(df_train['text'],df_train['author'])
for pipeline in pipelines:
    pipeline.fit(X_train,Y_train)
for pipeline in pipelines:
    print(pipeline.score(X_test,Y_test))

In [19]:
results=[]
for pipeline in pipelines:
    result=pipeline.predict(df_test['text'])
    results.append(result)
results

[array(['MWS', 'EAP', 'HPL', ..., 'EAP', 'MWS', 'HPL'], dtype=object),
 array(['MWS', 'EAP', 'HPL', ..., 'EAP', 'MWS', 'HPL'],
       dtype='<U3'),
 array(['MWS', 'EAP', 'HPL', ..., 'EAP', 'MWS', 'HPL'], dtype=object)]